.advantages {
  @include centerer();
  // width: 81.25%;
  margin: 32px auto 50px;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  margin-top: 35px;
  color: $h-color;
  font-weight: $bold;
}

.advantages__list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.advantages__item {
  padding-top: 74px;
  margin-bottom: 11px;
  list-style: none;
  position: relative;

  &::before {
    @include pseudo-element();
    background-repeat: no-repeat;
  }
}

.advantages__text {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: $h-color;
  font-weight: $bold;
}

// .advantages__item {
//   fill: $green-accent;
// }

.advantages__item--icon-flower::before {
  top: 18px;
  left: 8px;
  width: 32px;
  height: 37px;
  background-image: url("../img/feature-flower.svg");
}

.advantages__item--icon-money::before {
  top: 19px;
  left: 0;
  width: 47px;
  height: 27px;
  background-image: url("../img/feature-money.svg");
}

.advantages__item--icon-heart::before {
  top: 24px;
  left: 8px;
  width: 34px;
  height: 31px;
  background-image: url("../img/feature-heart.svg");
}

.advantages__item--icon-ball::before {
  top: 21px;
  left: 4px;
  width: 35px;
  height: 34px;
  background-image: url("../img/feature-ball.svg");
}

.advantages__item--icon-rocket::before {
  top: 22px;
  left: -3px;
  width: 55px;
  height: 23px;
  background-image: url("../img/feature-rocket.svg");
}

.advantages__item--icon-gift::before {
  top: 20px;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url("../img/feature-gift.svg");
}

@media (min-width: 768px) {
  .advantages {
    width: 668px;
    margin: 57px auto 45px;
  }

  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 30px;
    margin-left: -1%;
  }

  .advantages__list {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .advantages__item--icon-flower p {
    padding-right: 80px;
    margin-top: -1px;
    margin-left: 1px;
  }

  .advantages__item--icon-ball p {
    padding-right: 40px;
  }

  .advantages__item {
    width: 50%;
    padding-right: 30px;
    margin-bottom: 40px;

    &:nth-of-type(1),
    &:nth-of-type(4) {
      order: -1;
    }

    &:nth-of-type(2),
    &:nth-of-type(5) {
      order: 0;
    }

    &:nth-of-type(3),
    &:nth-of-type(6) {
      order: 1;
    }
  }

  .advantages__text {
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__item:nth-of-type(2) p,
  .advantages__item:nth-of-type(5) p,
  .advantages__item:nth-of-type(3) p,
  .advantages__item:nth-of-type(6) p {
    margin-top: -3px;
  }

  .advantages__item--icon-money p {
    padding-right: 50px;
  }

  .advantages__item--icon-heart p {
    padding-right: 70px;
  }

  .advantages__item--icon-gift p {
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1150px) {
  .advantages {
    margin: 80px auto 60px;
  }

  .advantages__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: -7px;
    margin-bottom: 30px;
    margin-left: -3%;
  }

  .advantages__item {
    margin: 0;
    padding-right: 0;
    padding-top: 112px;
  }

  .advantages__list {
    margin-left: -2%;
  }

  .advantages__item:first-of-type,
  .advantages__item:nth-of-type(2),
  .advantages__item:nth-of-type(3) {
    width: 49%;
    margin-right: 20px;
  }

  .advantages__item:nth-of-type(4),
  .advantages__item:nth-of-type(5),
  .advantages__item:nth-of-type(6) {
    padding-left: 0;
    width: 48%;
    padding-right: 0;
    margin-left: -24px;
    margin-right: 0;
  }

  .advantages__item:nth-of-type(2) p,
  .advantages__item:nth-of-type(5) p,
  .advantages__item:nth-of-type(3) p,
  .advantages__item:nth-of-type(6) p {
    margin-top: 0;
  }

  .advantages__text {
    margin-top: -15px;
  }

  .advantages__item--icon-flower p,
  .advantages__item--icon-money p,
  .advantages__item--icon-heart p {
    margin-left: -8px;
    margin-top: -18px;
  }

  .advantages__item:nth-of-type(1),
  .advantages__item:nth-of-type(4) {
    padding-top: 90px;
  }

  .advantages__item--icon-flower p {
    padding-right: 113px;
  }

  .advantages__item--icon-money p {
    padding-right: 80px;
  }

  .advantages__item--icon-flower::before {
    left: 0;
  }

  .advantages__item--icon-money::before {
    top: 59px;
    left: -8px;
  }

  .advantages__item--icon-rocket::before {
    top: 62px;
    left: -8px;
  }

  .advantages__item--icon-gift::before {
    top: 59px;
    right: 3px;
  }

  .advantages__item--icon-ball p {
    padding-right: 30px;
    margin-top: -18px;
  }

  .advantages__item--icon-heart::before {
    top: 63px;
    left: -1px;
  }

  .advantages__item--icon-heart p {
    padding-right: 105px;
  }

  .advantages__item--icon-gift p {
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .advantages {
    margin: 27px auto 46px;
  }

  .advantages__title {
    margin-top: 28px;
    margin-left: -2px;
    margin-bottom: 0;
  }

  .advantages__list {
    //
  }

  .advantages__item {
    margin-bottom: 10px;
  }

  .advantages__item--icon-flower p {
    margin-top: -5px;
    padding-right: 70px;
  }

  .advantages__item--icon-flower::before {
    top: 16px;
  }

  .advantages__item--icon-money::before {
    top: 22px;
  }

  .advantages__item--icon-money p {
    padding-right: 60px;
  }

  .advantages__item--icon-heart p {
    padding-right: 65px;
  }

  .advantages__item--icon-ball::before {
    top: 22px;
    left: 3px;
  }

  .advantages__item--icon-ball p {
    padding-right: 50px;
    margin-top: -2px;
  }

  .advantages__item--icon-rocket::before {
    top: 24px;
    left: -4px;
  }

  .advantages__item--icon-gift::before {
    top: 21px;
    width: 35px;
  }

  .advantages__item--icon-gift p {
    margin-top: -1px;
    padding-right: 60px;
  }
}
