.catalog {
  // Comment
}

.catalog__heading {
  // Comment
}

.catalog__title {
  font-size: 27px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
  text-align: center;
}

.catalog__product {
  // Comment
}

.catalog__video {
  // Comment
}
