.catalog {
  margin-bottom: 60px;
  margin-top: 30px;
}

.catalog__list {
  width: 81.25%;
  margin: 0 auto;
}

.catalog__heading {
  padding-top: 75px;
  background-color: #f1f1f1;
  padding-bottom: 81px;
  min-height: 177px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.catalog__title {
  width: 81.25%;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
  text-align: center;
}

.catalog__product,
.catalog__video {
  border: 1px solid #ededed;
  margin-bottom: 30px;
}

.catalog__product {
  margin-bottom: 30px;
}


@media (min-width: 768px) {
  .catalog__product {
    height: 334px;
    margin-bottom: 55px;
  }

  .catalog__heading {
    margin-bottom: 80px;
  }

  .catalog__title {
    width: 87%;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog__list {
    width: 87%;
    margin-bottom: 65px;
    margin-top: 80px;
  }
}

@media (min-width: 1150px) {
  .catalog__list {
    width: 91%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 130px;
  }

  .catalog__title {
    width: 91%;
    font-size: 53px;
    line-height: 57px;
  }
}
