.catalog {
  margin-bottom: 60px;
  // margin-top: 30px;
}

.catalog__list {
  // width: 81.25%;
  // margin: 0 auto;
  @include centerer();
}

.catalog__heading {
  padding-top: 75px;
  background-color: #f1f1f1;
  padding-bottom: 81px;
  min-height: 177px;
  margin-bottom: 30px;
}

.catalog__title {
  // width: 81.25%;
  // margin: 0 auto;
  @include centerer();
  font-size: 27px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
  text-align: center;
}

.catalog__product,
.catalog__video {
  border: 1px solid #ededed;
  margin-bottom: 30px;
}

.catalog__product {
  margin-bottom: 30px;
}


@media (min-width: 768px) {
  .catalog {
    margin-top: 37px;
  }

  .catalog__product {
    min-height: 330px;
    margin-bottom: 55px;
  }

  .catalog__product:last-of-type {
    margin-bottom: -20px;
  }

  .catalog__heading {
    margin-top: -94px;
    margin-bottom: 0;
    padding-bottom: 63px;
    border-top: 1px solid rgb(236, 236, 236);

    min-height: 240px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: auto 22px;
  }

  .catalog__title {
    // width: 87%;
    font-size: 43px;
    line-height: 50px;
    padding-top: 20px;
    padding-bottom: 18px;
  }

  .catalog__list {
    // width: 87%;
    margin-bottom: 65px;
    margin-top: 64px;
  }
}

@media (min-width: 1150px) {
  .catalog {
    margin-bottom: -10px;
  }

  .catalog__list {
    // width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 110px;
  }

  .catalog__product:last-of-type {
    margin-bottom: 0;
  }

  .catalog__title {
    max-width: 800px;
    font-size: 53px;
    line-height: 57px;
  }

  .catalog__heading {
    // max-width: 1150px;
    margin: 0 auto;

    min-height: 272px;
    margin-top: -81px;
    padding-bottom: 92px;
    padding-top: 73px;
    background-size: auto 34px;
  }
}

@media (max-width: 767px) {
  .catalog__heading {
    padding-top: 71px;
    padding-bottom: 76px;
  }

  .catalog__product {
    margin-bottom: 32px;
  }

  .catalog {
    margin-bottom: 30px;
  }
}
