.contacts {
  // Comment
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: $h-color;
  font-weight: bold;
}

.contacts__info {
  // Comment
}

.contacts__email {
  // Comment
}

.contacts__key {
  line-height: 30px;
}

.contacts__value {
  line-height: 30px;
}

.contacts__mailto {
  border-bottom: 2px solid $green-accent;
}

.contacts__adress {
  // Comment
}

.contacts__map {
  // Comment
}

.contacts__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;
}
