.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  color: $h-color;
  font-weight: $bold;
  padding-right: 20px;
  // margin-top: 20px;
}

.copyright__link {
  position: relative;
  font-size: 0;

  &::after {
    @include pseudo-element;
    background-image: url("../img/logo-htmlacademy.svg");
    left: 0;
    top: -3px;
    width: 27px;
    height: 35px;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .copyright {
    // justify-content: flex-end;
  }

  .copyright__text {
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    margin-right: 27px;
  }

  .copyright__text {
    padding-right: 30px;
  }
}
