.form {
  padding: 0 30px;
  margin-top: 25px;
  margin-bottom: 27px;

  display: flex;
  flex-direction: column;
}

.form__intro {
  font-size: 13px;
  margin-top: -3px; //
  padding: 0; //
  margin-bottom: 24px; //
}

.form__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  background-color: #ffffff;
  font-weight: $bold;
  text-transform: uppercase;
  min-height: 52px;
  padding: 17px 30px;
}

.form__wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  border: none;

  display: flex;
  flex-direction: column;

  position: relative;
}

.form__wrapper--textarea {
  margin-bottom: 0;
}

.form__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.form__group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form__title {
  text-transform: uppercase;
  color: $green-accent;
  font-weight: $bold;
  font-size: 17px;
  line-height: 16px;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;

  padding-left: 0;
  padding-right: 25px;
  align-self: flex-start;
}

.form__title::after {
  content: "";
  height: 1px;
  width: 198px;

  background-color: rgb(98, 209, 186);

  position: absolute;
  top: 7px;
  right: 0;

  z-index: -1;
}

.form__label {
  position: relative;
  min-height: 45px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  cursor: pointer;
}

.visually-hidden {
  opacity: 0;
  display: none;

  &:hover,
  &:active,
  &:focus {
    display: none;
  }
}

.form__label:first-of-type {
  margin-top: 25px;
}

.form__label:not(:last-child) {
  margin-bottom: 16px;
}

.form__label--ticks {
  padding-left: 62px;
  padding-top: 9px;
}

.form__label input[type="radio"] + .form__radio {
  position: absolute;
  top: 0;
  left: 0;

  width: 38px;
  height: 38px;
  border: 2px solid rgb(68, 68, 68);
  border-radius: 50%;
}

.form__label input[type="radio"]:hover + .form__radio {
  border: 2px solid rgb(98, 209, 186);
}

.form__label input[type="radio"]:active + .form__radio {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form__label input[type="radio"]:checked + .form__radio::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(98, 209, 186);
}

.form__label input[type="checkbox"] + .form__checkbox {
  position: absolute;
  top: 0;
  left: 1px;

  width: 38px;
  height: 38px;
  border: 2px solid rgb(68, 68, 68);
}

.form__label input[type="checkbox"]:hover + .form__checkbox {
  border: 2px solid rgb(98, 209, 186);
}

.form__label input[type="checkbox"]:active + .form__checkbox {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.form__label input[type="checkbox"]:checked + .form__checkbox::after {
  content: "";
  width: 22px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  font-size: 17px;
  line-height: 18px;
  color: $h-color;
}

::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.form__personal {
  display: block;
}

.form__group--personal .form__label {
  margin-top: 24px;
  margin-bottom: 0;
}

.form__group--personal .form__label:last-child {
  margin-top: 21px;
  margin-bottom: 5px;
}

.form__text {
  min-height: 52px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;

  font-size: 17px;
  line-height: 18px;
}

.form__text:hover {
  border-bottom: 2px solid rgb(98, 209, 186);
}

.form__text:active,
.form__text:focus {
  border-bottom: 2px solid rgb(98, 209, 186);
  outline: none;
}

.form__wrapper--no-legend .form__title {
  margin-bottom: 9px;
  cursor: pointer;
}

.form__wrapper--no-legend {
  position: relative;
  margin-bottom: 30px;
}

.form__icon {
  position: absolute;
  top: 35px;
  right: 8px;
  z-index: 100;
  fill: #cccccc;
}

.form__icon--email {
  right: 5px;
}

.form__text:hover ~ .form__icon,
.form__text:focus ~ .form__icon,
.form__text:active ~ .form__icon {
  fill: $green-accent;
  transition: fill 0.3s ease-in-out;
}

.form__textarea {
  border: 2px solid rgb(68, 68, 68);
  margin-top: 23px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  min-height: 144px;
  font-size: 17px;
  line-height: 18px;
}

.form__textarea:hover,
.form__textarea:active,
.form__textarea:focus {
  border: 2px solid rgb(98, 209, 186);
  outline: none;
}

.form__warning {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  margin-top: 1px;
}


@media (min-width: 768px) {
  .form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .form__intro {
    margin-top: 58px;
    margin-bottom: 7px;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__wrapper {
    border: none;
    padding: 51px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__wrapper:nth-of-type(2),
  .form__wrapper:nth-of-type(4) {
    background-color: rgb(241, 241, 241);
  }

  .form__wrapper:nth-of-type(2) .form__title,
  .form__wrapper:nth-of-type(4) .form__title {
    background-color: rgb(241, 241, 241);
  }

  .form__wrapper--phone {
    padding-bottom: 24px;
    padding-top: 49px;
    background-color: rgb(241, 241, 241);
  }

  .form__wrapper--phone .form__title {
    background-color: rgb(241, 241, 241);
  }

  .form__wrapper--email {
    padding-top: 0;
  }

  .form__icon--email {
    top: 11px;
    right: 42px;
    margin-right: 30px;
  }

  .form__icon--phone {
    right: 47px;
    margin-right: 30px;
    top: 60px;
  }

  .form__wrapper--textarea {
    padding-bottom: 52px;
    padding-top: 49px;
  }

  .form__wrapper:last-child {
    align-items: center;
    padding-top: 0;
    padding-bottom: 54px;
    background-color: #ffffff;
  }

  .form__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__title {
    width: 25%;
    height: 100%;
    padding-top: 17px;
  }

  .form__title::after {
    display: none;
  }

  .form__group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form__group--checkbox {
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 35px;
  }

  .form__group--checkbox .form__label {
    min-width: 202px;
  }

  .form__label {
    display: flex;
    align-items: baseline;
    min-height: 51px;

    font-size: 19px;
    line-height: 18px;
  }

  .form__label:first-of-type {
    margin-top: 0;
  }

  .form__label:not(:last-child) {
    margin-bottom: 24px;
  }

  .form__group--checkbox .form__label:nth-last-child(2) {
    margin-bottom: 0;
  }

  .form__group--personal .form__label:last-child {
    margin: 0;
  }

  .form__label--ticks {
    padding-top: 15px;
    padding-left: 80px;
  }

  .form__personal {
    display: unset;
    padding-right: 25px;
    font-size: 19px;
  }

  .form__group--personal .form__label:not(:last-child) {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .form__text {
    width: unset;
    flex-grow: 1;
    font-size: 19px;
    padding-left: 17px;
    background-color: transparent;
  }

  .form__textarea {
    flex-grow: 1;
    margin: 0;
    padding-top: 13px;
    min-height: 142px;

    font-size: 19px;
  }

  .form__warning {
    order: 1;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form__send {
    width: 230px;
  }

  .form__label input[type="radio"] + .form__radio {
    width: 51px;
    height: 51px;
  }

  .form__label input[type="radio"]:checked + .form__radio::after {
    width: 20px;
    height: 20px;
  }

  .form__label input[type="checkbox"] + .form__checkbox {
    width: 51px;
    height: 51px;
  }

  .form__label input[type="checkbox"]:checked + .form__checkbox::after {
    width: 33px;
    height: 22px;
  }
}

@media (min-width: 1150px) {
  .form {
    width: 1150px;
    margin: 0 auto;
  }

  .form__wrapper {
    justify-content: flex-start;
  }

  .form__intro {
    padding: 0 225px;
    margin-top: 105px;
  }

  .form__wrapper--personal,
  .form__wrapper--textarea {
    padding-top: 48px;
  }

  .form__wrapper--finish-line {
    width: 700px;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
  }

  .form__group--checkbox {
    max-width: 875px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .form__group--checkbox .form__label {
    min-width: 262px;
    margin-right: 0;
  }

  .form__checkbox {
    margin-top: -2px;
  }

  .form__group--checkbox .form__label:nth-last-child(3) {
    margin-bottom: 0;
  }

  .form__group--personal,
  .form__text,
  .form__textarea {
    max-width: 700px;
  }

  .form__group--personal .form__label {
    padding-top: 0;
  }

  .form__title {
    width: 175px;
    padding-left: 60px;
  }

  .form__label {
    font-size: 19px;
    line-height: 18px;
    padding-top: 15px;
  }

  .form__label:not(:last-child) {
    margin-bottom: 25px;
  }

  .form__textarea {
    padding-top: 15px;
  }

  .form__label input[type="radio"] + .form__radio {
    width: 51px;
    height: 51px;
  }

  .form__label input[type="radio"]:checked + .form__radio::after {
    width: 20px;
    height: 20px;
  }

  .form__label input[type="checkbox"] + .form__checkbox {
    width: 51px;
    height: 51px;
  }

  .form__label input[type="checkbox"]:checked + .form__checkbox::after {
    width: 33px;
    height: 22px;
  }

  .form__icon--email {
    top: 10px;
    right: 199px;
    margin-right: 30px;
  }

  .form__icon--phone {
    right: 203px;
    margin-right: 30px;
    top: 59px;
  }

  .form__wrapper--textarea {
    padding-bottom: 48px;
  }

  .form__wrapper:last-child {
    padding-bottom: 51px;
  }
}
