.header-list,
.user-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-list__item,
.user-list__item {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header-list__item:first-of-type {
  border-top: 1px solid rgb(236, 236, 236);
}

.header-list__item a,
.user-list__item a {
  display: block;

  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 75px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .header-list {
    order: 2;
    width: auto;
  }

  .header-list__item {
    border-bottom: none;
    width: 167px;
  }

  .header-list__item a {
    padding: 0;
    padding-top: 25px;

    font-size: 15px;
  }

  .header-list__item:first-of-type {
    border-top: none;
  }
}

@media (min-width: 1150px) {
  .header-list {
    order: 0;
    width: auto;
  }

  .header-list__item {
    border-bottom: none;
    width: auto;
  }

  .header-list__item:first-child {
    border-right: 1px solid rgb(236, 236, 236);
  }

  .header-list__item a {
    padding: 32px 35px 32px 0;

    font-size: 17px;
  }

  .header-list__item:last-child a {
    padding-left: 35px;
    padding-right: 0;
  }
}
