.hero {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.hero__header {
  // width: 81.25%;
  // margin: 0 auto;
  @include centerer();
  min-height: 283px;
}

.hero__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: $bold;
  color: $h-color;
  text-align: center;
  padding-top: 90px;
  margin: 0;
}

.hero__list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.hero__item {
  list-style: none;
  position: relative;
}

.hero__link {
  font-size: 19px;
  font-weight: $bold;
  color: #ffffff;

  display: block;
  min-height: 102px;
  padding: 28px $gutter;
  user-select: none;

  transition: transform 0.5s ease-in;

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--lighter {
    background-color: $green-accent;

    &::after {
      content: "";
      width: 40px;
      height: 62px;

      position: absolute;
      top: 27px;
      right: 36px;

      background-image: url("../img/icon-interior.svg");
      opacity: 0.5;
    }
  }

  &--darker {
    background-color: $green-dark;

    &::after {
      content: " ";
      width: 60px;
      height: 60px;
      position: absolute;
      top: 30px;
      right: 27px;

      background-image: url("../img/icon-toy.svg");
      opacity: 0.5;
    }
  }
}

.hero__link:hover::after {
  opacity: 0.6;
}

.hero__link:active::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .hero {
    @include centerer();
    // margin: 0 auto;
    position: relative;
    margin-top: -63px;
    // width: 87%;
  }

  .hero__header {
    min-height: 625px;
  }

  .hero__title {
    padding: 153px 50px 0;
    font-size: 43px;
    line-height: 50px;
  }

  .hero__list {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .hero__item {
    width: 50%;
  }

  .hero__list::after {
    @include pseudo-element();
    bottom: -9px;
    width: 110%;
    left: -11px;
    height: 24px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat-x: repeat;
    background-size: 768px 24px;
  }

  .hero__link {
    padding-top: 30px;
    padding-left: 35px;
    padding-bottom: 33px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .hero {
    // width: 1050px;
    margin-top: -45px;
  }

  .hero__list::after {
    bottom: -15px;
    height: 34px;
    background-size: 1150px 34px;
    background-position: 20px 0;
  }
}
