.hero {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 373px;
}

.hero__header {
  width: 81.25%;
  margin: 0 auto;
  margin-top: 75px;
}

.hero__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: $bold;
  color: $h-color;
  text-align: center;
}

.hero__list {
  margin-top: 122px;
  padding: 0;
}

.hero__item {
  list-style: none;
  height: 102px;
  padding: $gutter;

  &--lighter {
    background-color: $green-accent;
  }

  &--darker {
    background-color: $green-dark;
  }
}

.hero__link {
  font-size: 19px;
  font-weight: $bold;
  color: #ffffff;
}
