.knitting__heading {
  min-height: 177px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  margin: 0 auto;
}

.knitting__title {
  font-size: 27px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .knitting__heading {
    margin-top: -57px;
    margin-bottom: 0;
    padding-bottom: 96px;
    border-top: 1px solid rgb(236, 236, 236);

    min-height: 226px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: auto 22px;
  }

  .knitting__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 93px;
  }
}

@media (min-width: 1150px) {
  .knitting__heading {
    min-height: 271px;
    margin-top: -45px;
    background-size: auto 34px;
    padding-bottom: 90px;
  }

  .knitting__title {
    max-width: 800px;
    font-size: 53px;
    line-height: 57px;
  }
}
