.main-nav {
  position: relative;

  display: flex;
  flex-direction: column;
}

.main-nav a:hover,
.main-nav a:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__toggle {
  border: none;
  background-color: transparent;

  width: 20px;
  height: 16px;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 32px;
  right: 30px;
}

.main-nav__list {
  width: 100%;
}

.main-nav__sub-text {
  display: none;
}

@media (min-width: 768px) {
  .main-nav {
    padding: 0 50px;
    z-index: 10;

    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__sub-text {
    display: block;
    font-size: 15px;
    line-height: 24px;
    order: 3;

    margin-left: auto;
    margin-top: 25px;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    padding: 0 50px;
    justify-content: space-between;
  }

  .main-nav__sub-text {
    font-size: 15px;
    line-height: 30px;
    order: 4;
    margin: 0;
    margin-top: 15px;
  }
}
