.offer {
  display: flex;
  flex-direction: column;
  // width: 81.25%;
  width: 320px;
  margin: 0 auto;
}

// .offer__header {
//   // Comment
// }

.offer__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $h-color;
  margin-bottom: 10px;
}

.offer__product-week {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $green-accent;
  text-transform: uppercase;
}

.offer__description {
  margin-bottom: 35px;
}

.offer__list {
  box-sizing: content-box;
}

.offer__key {
  height: 40px;
  line-height: 20px;
}

.offer__value {
  height: 40px;
  line-height: 20px;
}

.offer__img {
  width: 81.25%;
  margin: 0 auto;
  min-width: 260px;
  min-height: 315px;
}

.offer__buy-info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.offer__price {
  font-size: 15px;
  font-weight: $bold;
  margin: $gutter auto;
  text-align: left;
}

.offer__order {
  font-size: 17px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 295px;
  min-width: 260px;
}

// @media only screen and (min-width: 768px) {
//   .offer {
//     width: 87%;
//     margin: 0 auto;
//     position: relative;
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .offer__header {
//     display: flex;
//     margin-top: 0;
//     align-items: center;
//     flex-wrap: wrap;
//   }

//   .offer__title {
//     width: 70%;
//     flex-grow: 1;
//   }

//   .offer__product-week {
//     width: 120px;
//     text-align: center;
//   }

//   .offer__description {
//     width: 50%;
//     padding-right: 35px;
//   }

//   .offer__list {
//     width: 50%;
//     // padding-right: 35px;
//   }

//   .offer__img {
//     position: absolute;
//     right: 0;
//     top: 80px;
//     min-width: 334px;
//     width: 43.5%;
//   }

//   .offer__buy-info {
//     position: absolute;
//     margin: 0 auto;
//     bottom: 0;
//     left: 0;
//     width: 43.5%;
//   }

//   .offer__order {
//     margin: 0 auto;
//     min-width: 290px;
//   }
// }

// @media only screen and (min-width: 1150px) {
//   .offer {
//     width: 76%;
//     margin: 0 auto;
//   }

//   .offer__header {
//     align-items: flex-end;
//     margin-top: 132px;
//     position: relative;
//   }

//   .offer__title {
//     width: 70%;
//     flex-grow: 1;
//     font-size: 53px;
//     line-height: 57px;
//     z-index: 1;
//     margin-top: 0;
//   }

//   .offer__product-week {
//     position: absolute;
//     top: 8px;
//     left: -130px;
//     width: 120px;
//     padding-right: 35px;
//     padding-left: 20px;
//     text-align: center;
//   }

//   .offer__description {
//     width: 37.5%;
//   }

//   .offer__list {
//     width: 37.5%;
//   }

//   .offer__img {
//     min-width: 525px;
//     z-index: -1;
//     width: 60%;
//   }

//   .offer__buy-info {
//     width: 37.5%;
//   }
// }
