.offer {
  // Comment
}

.offer__header {
  // Comment
}

.offer__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $h-color;
  margin-bottom: 10px;
}

.offer__product-week {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $green-accent;
  text-transform: uppercase;
  margin-top: 0;
}

.offer__description {
  // Comment
}

.offer__list {
  // Comment
}

.offer__key {
  line-height: 20;
}

.offer__value {
  line-height: 20;
}

.offer__img {
  // Comment
}

.offer__price {
  font-size: 15px;
  font-weight: $bold;
}

.offer__order {
  font-size: 17px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;
}
