.page-header__logo {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__logo-img {
  width: 86px;
  height: 35px;
}

@media (min-width: 768px) {
  .page-header__logo {
    order: 0;
    padding-top: 10px;
    padding-bottom: 0;
    flex: 1 0 165px;
  }

  .page-header__logo-img {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    order: 1;
    padding-top: 9px;
    padding-bottom: 0;
    // flex: 0 0 auto;
    //display: flex;
    //justify-content: flex-end;
    // width: auto;
    flex: 0 0 auto;
  }

  .page-header {
    width: 1150px;
    margin: 0 auto;
  }

  .page-header__logo-img {
    width: 149px;
    height: 72px;
  }
}
