.page-footer {
  min-height: 160px;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  @include centerer();
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-img {
  //
}

.page-footer__social {
  min-height: 80px;
}

.page-footer__copyright {
  height: 80px;
}

@media only screen and (min-width: 768px) {
  .page-footer {
    min-height: 143px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    // width: 87%;
    // margin: 0 auto;
    align-items: center;
  }

  .page-footer__logo {
    flex: 0 0 33.33%;
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 17px;

    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
  }

  .page-footer__social {
    height: auto;
    flex: 0 0 33.33%;
    justify-content: flex-start;
    margin-top: 22px;
    padding-bottom: 0;
    border: 0;
  }

  .page-footer__copyright {
    height: auto;
    justify-content: flex-end;
    flex: 0 0 33.33%;
    padding-top: 22px;
  }
}

@media only screen and (min-width: 1150px) {
  .page-footer__wrapper {
    // width: 1050px;
    // margin: 0 auto;
  }

  .page-footer {
    max-width: 1150px;
    margin: 0 auto;
  }

  .page-footer__logo {
    // padding-left: 50px;
    // background-position-x: 50px;
  }
}
