.product__info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 178px;
}

.product__cart {
  width: 20px;
  height: 19px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  display: inline-block;
  align-self: center;
  margin-right: 27px;
}

.product__icon-cart {
  fill: #d3d2d2;
}

.product__cart:hover .product__icon-cart {
  fill: $green-accent;
  transition: fill 0.4s ease-in-out;
}

.product__cart:active .product__icon-cart {
  fill: $green-accent;
  opacity: 0.3;
  transition: fill 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.product__link-title {
  color: $h-color;
  text-decoration: none;

  @include centerer-product();
  margin: 7px auto -2px;

  &:hover {
    color: rgba($h-color, 0.6);
    transition: color 0.3s ease-in-out;
  }

  &:active {
    color: rgba($h-color, 0.3);
    transition: color 0.1s ease-in;
  }
}

.product__title {
  font-size: 17px;
  font-weight: $bold;
  line-height: 24px;
}

.product__data {
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;

  @include centerer-product();
}

.product__to-order {
  display: flex;
  justify-content: space-between;
}

.product__price {
  color: $h-color;
  font-weight: $bold;

  margin-left: 28px;
  margin-top: 28px;
  margin-bottom: 33px;
}

.product__link-img {
  flex: 1 0 auto;
  min-height: 195px;
}

.product__img {
  background-color: #ececec;
  font-size: 0;
  line-height: 0;
}

.product__img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .product {
    margin-bottom: 53px;
    display: flex;
    flex-direction: row;
  }

  .product__info {
    flex: 1 0 50%;
    margin-left: auto;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .product__link-title {
    padding-right: 40px;
    margin-top: 6px;
    width: 84.5%;
    margin-bottom: 5px;
  }

  .product__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .product__data {
    font-size: 15px;
    width: 84.5%;
    border: none;
  }

  .product__link-img {
    flex: 1 0 50%;
    align-self: center;
  }

  .product__to-order {
    margin: auto auto 0;
    width: 80.84%;
    border-top: 1px solid #ececec;
  }

  .product__price {
    margin-bottom: 26px;
    margin-left: 0;
    font-size: 17px;
    line-height: 24px;
    margin-top: 22px;
  }

  .product__cart {
    margin-right: 0;
    margin-top: -8px;
  }
}

@media (min-width: 1150px) {
  .product {
    flex-direction: column;
    margin-bottom: 0;
    //margin-bottom: 40px;
    //margin-bottom: auto;
    margin-top: 40px;
    width: 316px;
    min-height: 659px;

    &:last-child {
      margin-right: 0;
    }
  }

  .product__info {
    width: 100%;
    padding: 0 30px 0 25px;
    min-height: 197px;
    flex: 1 0 auto;
  }

  .product__link-title {
    padding-right: 20px;
    width: 100%;
    margin-top: 8px;
  }

  .product__data {
    width: 100%;
    padding-bottom: 0;
  }

  .product__cart {
    margin-right: 3px;
    margin-top: -3px;
  }

  .product__link-img {
    flex: 0 0 auto;
  }

  .product__img {
    flex-basis: auto;
  }

  .product__to-order {
    width: 100%;
    margin-top: auto;
    padding-top: 22px;
    padding-bottom: 26px;

    align-items: center;
  }

  .product__price {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .product__title {
    margin: 20px auto 6px;
  }

  .product__data {
    padding-bottom: 19px;
  }

  .product__price {
    margin-top: 21px;
    margin-bottom: 26px;
    margin-left: 10.85%;
  }

  .product__cart {
    margin-top: -7px;
    margin-right: 10.5%;
  }
}
