.product {
  // Comment
}

.product__img {
  // Comment
}

.product__title {
  font-size: 17px;
  color: $h-color;
  font-weight: $bold;

  width: 78.5%;
  margin: 30px auto 20px;
}

.product__data {
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 28px;
  border-bottom: 1px solid #ececec;

  width: 78.5%;
  margin: 0 auto;
}

.product__price {
  color: $h-color;
  font-weight: $bold;

  width: 78.5%;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 33px;
}

.product__cart {
  // Comment
}

@media only screen and (min-width: 768px) {
  .product {
    //
  }

  .product__title,
  .product__data,
  .product__price {
    margin-left: 54.5%;
    transform: translateY(-260px);
    width: 41%;
  }

  .product__img {
    min-width: 334px;
    width: 50%;
  }

  .product__data {
    border: none;
  }

  .product__price {
    transform: translateY(-175px);
    border-top: 1px solid #ececec;
    padding-top: 28px;
  }
}
