.product {
  // Comment
}

.product__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product__info:hover .product__title {
  color: rgba($h-color, 0.6);
  transition: color 0.3s ease-in-out;
}

.product__info:active .prduct__title {
  color: rgba($h-color, 0.3);
  transition: color 0.1s ease-in;
}

.product__cart {
  width: 20px;
  height: 19px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  display: inline-block;
  align-self: center;
  margin-right: 27px;
  // background-image: url("../img/icon-cart.svg");
  // background-position: center;
  // background-repeat: no-repeat;
  // opacity: 0.2;
}

.product__icon-cart {
  fill: #d3d2d2;
}

.product__cart:hover .product__icon-cart {
  fill: $green-accent;
  transition: fill 0.4s ease-in-out;
}

.product__cart:active .product__icon-cart {
  fill: $green-accent;
  opacity: 0.3;
  transition: fill 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.product__info:hover .product__icon-cart {
  fill: $green-accent;
  transition: color 0.3s ease-in-out;
}

.product__info:active .product__icon-cart {
  fill: $green-accent;
  opacity: 0.3;
  transition: color 0.1s ease-in;
}

.product__title {
  font-size: 17px;
  color: $h-color;
  font-weight: $bold;
  cursor: pointer;

  @include centerer-product();
  // width: 78.5%;
  margin: 30px auto 20px;

  &:hover {
    color: rgba($h-color, 0.6);
    transition: color 0.3s ease-in-out;
  }

  &:active {
    color: rgba($h-color, 0.3);
    transition: color 0.1s ease-in;
  }
}

.product__data {
  font-size: 13px;
  line-height: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;

  @include centerer-product();
  // width: 78.5%;
  // margin: 0 auto;
}

.product__to-order {
  display: flex;
  justify-content: space-between;
}

.product__price {
  color: $h-color;
  font-weight: $bold;

  margin-left: 28px;
  margin-top: 28px;
  margin-bottom: 33px;
}

.product__img {
  flex-grow: 1;
  cursor: pointer;
}

.product__img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .product {
    margin-bottom: 46px;
    display: flex;
  }

  .product__info {
    width: 50%;
    margin-left: auto;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .product__title {
    font-size: 20px;
    margin-top: 24px;
    padding-right: 40px;
    width: 84.5%;
    margin-bottom: 7px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .product__data {
    font-size: 15px;
    width: 84.5%;
    border: none;
  }

  .product__img {
    min-width: 334px;
    width: 50%;
  }

  .product__to-order {
    margin: auto auto 0;
    width: 80.84%;
    border-top: 1px solid #ececec;
  }

  .product__price {
    margin-bottom: 34px;
    margin-left: 0;
    font-size: 17px;
    line-height: 24px;
    margin-top: 22px;
  }

  .product__cart {
    margin-right: 0;
    margin-top: -14px;
  }
}

@media (min-width: 1150px) {
  .product {
    flex-direction: column;
    margin-bottom: 0;

    width: 316px;
    min-height: 659px;

    &:last-child {
      margin-right: 0;
    }
  }

  .product__info {
    width: 100%;
    padding: 0 30px 0 25px;
    min-height: 197px;
  }

  .product__title {
    padding-right: 20px;
    width: 100%;
    margin-bottom: 6px;
  }

  .product:last-of-type .product__title {
    margin-top: 15px;
  }

  .product:last-of-type .product__to-order {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .product__data {
    width: 100%;
  }

  .product__img {
    min-width: 316px;
    height: 462px;
  }

  .product__img img {
    height: auto;
  }

  .product__to-order {
    width: 100%;
    margin-top: auto;
    padding-top: 24px;
    padding-bottom: 30px;
    height: 75px;

    align-items: center;
  }

  .product__price {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .product__title {
    margin: 20px auto 6px;
  }

  .product__data {
    padding-bottom: 19px;
  }

  .product__price {
    margin-top: 21px;
    margin-bottom: 26px;
    margin-left: 10.85%;
  }

  .product__cart {
    margin-top: -7px;
    margin-right: 10.5%;
  }
}
