.reviews {
  // width: 81.25%;
  @include centerer();
  margin: 20px auto 45px;
  position: relative;

  &::after {
    @include pseudo-element();
    top: 100%;
    left: -15%;
    width: 130%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat-x: repeat;
    background-size: 320px 7px;
    background-position: 8px 0;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
  margin-bottom: 30px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  line-height: 30px;
  margin-top: 0;
}

.reviews__author-name {
  font-size: 17px;
  color: $h-color;
  font-weight: $bold;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
}

.reviews__buttons {
  margin: 35px auto;
  max-width: 295px;
  min-width: 260px;
}

.reviews__prev {
  // Comment
}

.reviews__next {
  // Comment
}

.reviews__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;

  @include centerer();
  // width: 81.25%;
  // margin: 0 auto;
  max-width: 295px;
  min-width: 260px;
  margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
  .reviews {
    // width: 87%;
    // margin: 0 auto;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    width: 100%;
    padding-right: 50px;
    background-size: 350px auto;
    min-height: 457px;
    padding-top: 75px;
    padding-bottom: 70px;
    margin-bottom: 0;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &::after {
      height: 17px;
      width: 120%;
      left: -10%;
      background-size: 768px 17px;
      background-position: -7px 0;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    order: -1;
    margin-top: 10px;
    flex-grow: 1;
  }

  .reviews__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .reviews__text {
    padding-right: 65px;
    margin-bottom: 50px;
  }

  .reviews__write {
    margin-right: 0;
    margin-top: -80px;
    font-size: 18px;
    line-height: 20px;
    order: -2;
    height: 58px;
    width: 175px;
    margin-bottom: 50px;
    min-width: 175px;
  }

  .reviews__author-name {
    margin-bottom: 7px;
  }

  .reviews__buttons {
    margin-right: 0;
    margin-top: -30px;
  }
}

@media only screen and (min-width: 1150px) {
  .reviews {
    // width: 1050px;
    // margin: 0 auto;
    @include centerer();
    padding-left: 175px;
    // margin-bottom: 67px;
    margin-top: 0;
    padding-top: 75px;
    padding-bottom: 105px;
    padding-right: 0;

    &::after {
      left: 0;
      width: 1050px;
      height: 23px;
      background-size: 1050px 23px;
      background-position: 24px 0;
    }
  }
}
