.reviews {
  // width: 81.25%;
  @include centerer();
  margin: 20px auto 40px;
  position: relative;

  &::after {
    @include pseudo-element();
    top: 100%;
    left: -15%;
    width: 130%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat-x: repeat;
    background-size: 320px 7px;
    background-position: 8px 0;
  }
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
  margin-bottom: 30px;
}

.reviews__list {
  display: flex;
  flex-direction: column;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  line-height: 30px;
  margin-top: 0;
}

.reviews__author-name {
  font-size: 17px;
  color: $h-color;
  font-weight: $bold;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
}

.reviews__buttons {
  margin: 35px auto;
  max-width: 295px;
  min-width: 260px;
  display: flex;
}

.reviews__prev,
.reviews__next {
  position: relative;
  width: 130px;
  height: 52px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #ececec;
  cursor: pointer;

  &::before {
    @include pseudo-element();
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 26px;
  }

  &:hover::before {
    opacity: 0.6;
    transition: opacity 0.3s ease-in;
  }

  &:active::before {
    opacity: 0.3;
    transition: opacity 0.3s ease-in;
  }
}

.reviews__prev {
  border-right: none;

  &::before {
    background-image: url("../img/icon-left-arrow.svg");
    // background-repeat: no-repeat;
  }
}

.reviews__next {
  &::before {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;

  @include centerer();
  // width: 81.25%;
  // margin: 0 auto;
  max-width: 295px;
  min-width: 260px;
  margin-bottom: 45px;
}

@media only screen and (min-width: 768px) {
  .reviews {
    // width: 87%;
    // margin: 0 auto;
    width: 100%;
    padding-right: 50px;
    min-height: 457px;
    padding-top: 68px;
    padding-bottom: 70px;
    margin-bottom: 100px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    background-image: url("../img/review@1x.jpg");
    background-size: 350px auto;
    // background-position: left top;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      height: 17px;
      width: 120%;
      left: -10%;
      background-size: 768px 17px;
      background-position: -7px 0;
      margin-top: 40px;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    order: -1;
    margin-top: 10px;
    margin-left: -5px;
    flex-grow: 1;
  }

  .reviews__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  .reviews__text {
    // padding-right: 65px;
    margin-bottom: 59px;
    font-size: 17px;
  }

  .reviews__write {
    margin-right: 0;
    margin-top: -80px;
    font-size: 17px;
    line-height: 20px;
    order: -2;
    // height: 58px;
    width: 175px;
    margin-bottom: 44px;
    min-width: 175px;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__author-name cite {
    font-style: normal;
  }

  .reviews__buttons {
    position: absolute;
    right: 0;
    bottom: -2px;
    min-width: 176px;
    margin-bottom: 5px;
  }

  .reviews__prev,
  .reviews__next {
    width: 88px;
    padding: 0;
    border: 0;
    cursor: auto;

    &::before {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 1150px) {
  .reviews {
    // width: 1050px;
    // margin: 0 auto;
    @include centerer();
    padding-left: 175px;
    // margin-bottom: 67px;
    margin-top: 88px;
    padding-top: 60px;
    padding-bottom: 105px;
    padding-right: 0;

    &::after {
      left: 0;
      width: 1050px;
      height: 23px;
      margin-top: 55px;
      background-size: 1050px 23px;
      background-position: 24px 0;
    }
  }

  .reviews__title {
    line-height: 57px;
    font-size: 53px;
    margin-bottom: 21px;
  }

  .reviews__author-name {
    font-size: 17px;
  }

  .reviews__write {
    margin-top: -68px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 44px;
  }

  .reviews__text {
    margin-bottom: 40px;
    padding-right: 75px;
  }

  .reviews__buttons {
    right: 0;
    bottom: -2px;
  }
}

@media (max-width: 767px) {
  .reviews__title {
    margin-top: 5px;
    margin-bottom: 23px;
  }

  .reviews__text {
    margin-bottom: 27px;
  }

  .reviews__author-name {
    margin-bottom: 3px;
    font-size: 17px;
  }

  .reviews__author-name cite {
    font-style: normal;
  }

  .reviews__buttons {
    margin-top: 30px;
    margin-bottom: 36px;
  }

  .reviews__write {
    min-height: 50px;
    padding: 14px $gutter;
  }
}
