.reviews {

}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  color: $h-color;
  font-weight: $bold;
}

.reviews__list {

}

.reviews__item {

}

.reviews__text {
  line-height: 30px;
}

.reviews__author-name {
  font-size: 17px;
  color: $h-color;
  font-weight: $bold;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
}

.reviews__buttons {

}

.reviews__prev {

}

.reviews__next {

}

.reviews__write {
  font-size: 18px;
  line-height: 20px;
  font-weight: $bold;
  text-transform: uppercase;
}

