.toggle {
  width: 23px;
  height: 23px;
  padding: 0;
  box-sizing: border-box;

  font-size: 0;
  line-height: 0;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.toggle > span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 4px auto;
  // box-sizing: border-box;
  background-color: #221f1f;
}

.toggle span:nth-child(1),
.toggle span:nth-child(3) {
  transform: rotate(0deg) translateY(0);
  transition: all 600ms ease-in-out;
}

.toggle span:nth-child(2) {
  transform: translateX(0);
  transition: all 600ms ease-in-out;
}

.toggle--opened span:nth-child(1) {
  width: 25px;
  height: 3px;
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle--opened span:nth-child(3) {
  width: 25px;
  height: 3px;
  transform: rotate(-45deg) translate(5px, -5px);
}

.toggle--opened span:nth-child(2) {
  transform: translateX(-100px);
  height: 3px;
}
