@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 30px; //13
    right: 32px; //30
    z-index: 2;

    display: block;
    width: 20px;
    height: 20px;

    background-color: #ffffff;

    cursor: pointer;
    border: none;
    padding: 0;
    font-size: 0;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: #ffffff;
      outline: none;
    }
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0; //18
    right: 0; //2
    width: 20px;
    height: 2.5px;

    background-color: $h-color;
    box-shadow: 0 6px 0 0 $h-color, 0 12px 0 0 $h-color;
    transition: all 700ms ease-in-out;
  }

  .main-nav--closed .main-nav__toggle:active::before {
    background-color: $h-color;
    box-shadow: 0 5px 0 0  $h-color, 0 10px 0 0  $h-color;
  }

  .toggle--opened {
    top: 30px; //13
    right: 37px;
    background-color: #ffffff;
    width: 20px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px; //24
      left: 0; //3
      width: 30px;
      height: 2.3px;

      background-color: $h-color;
      transition: all 700ms ease-in-out;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
