.user-list__item {
  position: relative;
}

.user-list__link {
  transition: color 0.2s ease-in;
}

.user-list__link:hover svg {
  fill: $green-accent;
  transition: fill 0.4s ease-in;
}

.user-list__link:active svg {
  fill: #c7ece7;
  transition: fill 0.1s ease-in;
}

.user-list__icon {
  fill: #d3d2d2;
  position: absolute;
  top: 37px;
  left: 31px;

  &--search {
    width: 18px;
    height: 18px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }

  &:hover {
    fill: $green-accent;
  }

  &:active {
    fill: #c7ece7;
  }
}

@media (min-width: 768px) {
  .user-list {
    order: 1;
    // width: auto;
    margin-left: auto;
    flex: 1 0 500px;
    justify-content: flex-end;
  }

  .user-list__item {
    border-bottom: none;
    border-left: 1px solid rgb(231, 231, 231);
    height: 88px;
  }

  .user-list__item a {
    padding-left: 30px;
  }

  .user-list__icon--cart {
    top: 35px;
    left: 35px;
  }

  .user-list__item--cart a {
    padding-left: 85px;
  }

  .user-list__item--search a {
    width: 80px;
    font-size: 0;
  }
}

@media (min-width: 1150px) {
  .user-list {
    order: 2;
    // width: 350px;
    margin: 0;
    flex: 1 0 350px;
  }

  .user-list__link--cart::after {
    left: 40px;
  }

  .user-list__item a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// .user-list__item a::after {
//   content: " ";
//   width: 18px;
//   height: 18px;

//   position: absolute;
//   top: 30px;
//   left: 30px;

//   background-image: url("../img/icon-search.svg");
//   background-position: center;
//   background-repeat: no-repeat;
//   opacity: 0.2;
// }

// .user-list__item--cart a::after {
//   width: 21px;
//   background-image: url("../img/icon-cart.svg");
// }
