.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  border-bottom: 1px solid rgb(236, 236, 236);
  position: relative;
}

.user-list__link {
  transition: color 0.2s ease-in;
  display: flex;
  align-items: center;
}

.user-list__item--cart {
  border-bottom: none;
}

.user-list__link:hover .user-list__icon {
  fill: $green-accent;
  transition: fill 0.4s ease-in;
}

.user-list__link:active .user-list__icon {
  fill: #c7ece7;
  transition: fill 0.1s ease-in;
}

.user-list__icon {
  fill: #d3d2d2;
  position: absolute;
  top: 29px;
  left: 31px;

  &--search {
    width: 18px;
    height: 18px;
  }

  &--cart {
    width: 21px;
    height: 18px;
  }

  &:hover {
    fill: $green-accent;
  }

  &:active {
    fill: #c7ece7;
  }
}

@media (min-width: 768px) {
  .user-list {
    order: 1;
    margin-left: auto;
    flex: 1 0 500px;
    justify-content: flex-end;
  }

  .user-list__item {
    border-bottom: none;
    border-left: 1px solid rgb(231, 231, 231);
    height: 88px;
  }

  .user-list__item a {
    padding-left: 30px;
    padding-top: 32px;
  }

  .user-list__icon {
    top: 37px;
  }

  .user-list__icon--cart {
    top: 35px;
    left: 33px;
  }

  .user-list__item--cart a {
    padding-left: 85px;
  }

  .user-list__item--search a {
    width: 80px;
    font-size: 0;
  }
}

@media (min-width: 1150px) {
  .user-list {
    order: 2;
    margin: 0;
    flex: 1 0 350px;
  }

  .user-list__link--cart::after {
    left: 40px;
  }

  .user-list__item a {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .user-list__icon--cart {
    left: 31px;
  }
}
