.video {
  // Comment
}

.video__header {
  // Comment
}

.video__title {
  font-size: 17px;
  color: $h-color;
  font-weight: $bold;
}

.video__img {
  // Comment
}

.video__text {
  font-size: 13px;
}

.video__to-order {
  font-size: 17px;
  line-height: 16px;
  font-weight: $bold;
  text-transform: uppercase;
}
