@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansbold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensansbold.woff2') format('woff2');
}


