* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  font-style: normal;
  overflow-x: hidden;
  opacity: 1;

  background-color: #ffffff ;
}

img {
  //  display: block;
  max-width: 100%;
  height: auto;
}
